@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: red;
  --color-primary-light: #white;
  --color-primary-dark: #4f46e5;
  --color-accent: red;
  --color-accent-light: #22d3ee;
  --color-surface: white;
  --color-surface-light: #1e293b;
  --color-surface-lighter: #334155;
  --color-surface-card: #1e293b;
  --color-danger: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;
}

/* Base styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-surface);
  color: #e2e8f0;
  min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-surface);
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface-lighter);
  border-radius: 3px;
}

/* Custom Cursor styles */
body.custom-cursor-active,
body.custom-cursor-active * {
  cursor: none !important;
}
